<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head') %>
  <title>HomePage</title>
</head>
<body>
  <%- include('./partials/navbar') %>

 Hi lets see if this works or not
 <!-- <%= JSON.stringify(blogs) %> -->

<div class="container mt-5 row row-cols-1 ">
  <div class="row">
    <% blogs.forEach(blog => { %>
      <div class="col-md-4">
        <div class="card m-3" style="width: 18rem;">
          <img src="<%= blog.coverImageURL %>" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><%= blog.title %></h5>
            <p class="card-text"><%= blog.body %></p>
            <a href="/blog/<%= blog._id %>">View Details</a>
          </div>
        </div>
      </div>
    <% }) %>
  </div>
</div>


  <%- include('./partials/scripts') %>

</body>
</html>